.outer{
    border: 1px solid black;
    width: 40%;
    text-align: center;
    margin: 0 auto;
}

.inner{
    border: 1px solid black;
    padding: 10px;
}

.inner div{
    border: 1px solid black;
    padding: 10px;
}

.inner2, .flex-blackjack-row-1, .flex-blackjack-row-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
    border: 1px solid black;
}

.inner2 img{
    margin: 10px;
    width: 120px;
    height: 120px;
    box-shadow: 0px 10px 50px rgba(0,0,0,0.7);
}

.inner2-blackjack {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    margin : 10px;
    border: 1px solid black;
}

.flex-blackjack-row-1 {
    /*background: url("https://image.shutterstock.com/image-photo/poker-table-felt-background-green-260nw-1583270647.jpg") center;
    */
    background-image: url('../images/table3.jpg');
}

.flex-blackjack-row-1 div{
    height: 250px;
    flex: 1;
    text-align: center;
    color: #ffffff;
    padding: 10px;
    border: 1px solid black;
}

.flex-blackjack-row-1 img{
    width: 25%;
    padding: 10px;
}


.flex-blackjack-row-3{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 10px;
}

.flex-box-rps img{
    margin: 10px;
    box-shadow: 0px 10px 50px rgba(0,0,0,0.7);
}

.flex-box-rps img:hover{
    margin: 10px;
    box-shadow: 0px 10px 50px rgba(37,50,233,1);
}

table, th, td{
    padding: 1px;
    border: 1px solid black;
}
